<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAwFoghc5ndAx0yF3Yg2LcS8SHTe_AFE4</string>
	<key>GCM_SENDER_ID</key>
	<string>819095230399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geoactio.actioticket</string>
	<key>PROJECT_ID</key>
	<string>actioticket-v3-0</string>
	<key>STORAGE_BUCKET</key>
	<string>actioticket-v3-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819095230399:ios:365fb4a86d9804a2c9330a</string>
</dict>
</plist>